In [2]:
import pandas as pd

In [180]:
test1 = pd.read_csv("./가천대역_혼잡도(토요일 데이터 없음).csv")
test1

,Unnamed: 0,Unnamed: 0.1,오전4시,오전5시,오전6시,오전7시,오전8시,오전9시,오전10시,오전11시,...,오후6시,오후7시,오후8시,오후9시,오후10시,오후11시,오전12시,오전1시,오전2시,오전3시
0,0,일,0%,0%,0%,0%,0%,0%,0%,0%,...,0%,0%,5%,5%,11%,11%,5%,0%,0%,5%
1,1,월,11%,11%,5%,0%,0%,0%,0%,0%,...,29%,29%,23%,17%,5%,0%,0%,0%,5%,0%
2,2,화,0%,11%,23%,35%,47%,52%,52%,47%,...,47%,47%,47%,47%,41%,29%,23%,11%,5%,23%
3,3,수,29%,29%,35%,35%,35%,35%,29%,29%,...,5%,0%,0%,5%,5%,5%,11%,17%,17%,0%
4,4,목,17%,41%,64%,82%,94%,100%,94%,82%,...,100%,94%,76%,58%,35%,11%,0%,0%,0%,0%
5,5,금,0%,5%,17%,41%,52%,52%,29%,5%,...,11%,11%,5%,0%,0%,0%,0%,0%,0%,0%
6,6,토,0%,0%,0%,0%,0%,0%,0%,0%,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%

In [4]:
day_list = list(test1["Unnamed: 0"])
time_list = list(test1.columns[1:])

In [5]:
time_lists = []

for day in day_list : 
    for time in time_list : 
        time_lists.append(day+" "+time)

In [44]:
time_table = pd.read_csv("./1호선 지하철정리.csv")
time_table

,Unnamed: 0,역명,호선,구,동,주소,일 오전4시,일 오전5시,일 오전6시,일 오전7시,...,토 오후8시,토 오후9시,토 오후10시,토 오후11시,토 오전12시,토 오전1시,토 오전2시,토 오전3시,위도,경도
0,0,광운대,노원구,월계동,1호선,서울특별시 노원구 석계로 98-2,0%,0%,0%,0%,...,39%,21%,2%,0%,0%,0%,0%,0%,0.000000,0.000000
1,1,가산디지털단지,금천구,가산동,1호선,서울특별시 금천구 벚꽃로 309,0%,0%,0%,0%,...,39%,21%,2%,0%,0%,0%,0%,0%,0.000000,0.000000
2,2,개봉,구로구,개봉동,1호선,서울특별시 구로구 경인로40길 47,0%,0%,0%,0%,...,39%,21%,2%,0%,0%,0%,0%,0%,0.000000,0.000000
3,3,구로,구로구,구로동,1호선,서울특별시 구로구 구로중앙로 174,0%,0%,0%,0%,...,77%,57%,32%,6%,0%,0%,0%,0%,0.000000,0.000000
4,4,구일,구로구,구로동,1호선,서울특별시 구로구 구일로 133,0%,0%,0%,0%,...,19%,11%,3%,0%,0%,0%,0%,0%,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,312,김포공항,강서구,방화동,공항철도,서울특별시 강서구 하늘길 지하77,1%,4%,9%,16%,...,50%,46%,33%,16%,4%,0%,0%,0%,37.561948,126.801907
313,313,디지털미디어시티,은평구,증산동,공항철도,서울특별시 은평구 수색로 지하175,0%,0%,0%,0%,...,20%,11%,2%,0%,0%,0%,0%,0%,37.576002,126.901263
314,314,마곡나루,강서구,마곡동,공항철도,서울특별시 강서구 마곡중앙로 지하 135,0%,0%,0%,0%,...,22%,14%,4%,0%,0%,0%,0%,0%,37.566709,126.827407
315,315,서울,중구,남대문로 5가,공항철도,서울특별시 중구 세종대로 지하2,2%,4%,9%,16%,...,45%,35%,25%,16%,10%,5%,3%,3%,37.553316,126.969738
316,316,홍대입구,마포구,동교동,공항철도,서울특별시 마포구 양화로 지하160,0%,0%,0%,6%,...,86%,98%,82%,43%,9%,0%,0%,0%,37.556864,126.923765

In [45]:
test1.index = day_list

In [46]:
test1 = test1.drop("Unnamed: 0", axis=1)

In [47]:
test1

,오전4시,오전5시,오전6시,오전7시,오전8시,오전9시,오전10시,오전11시,오후12시,오후1시,...,오후6시,오후7시,오후8시,오후9시,오후10시,오후11시,오전12시,오전1시,오전2시,오전3시
일,0%,0%,0%,0%,2%,2%,0%,0%,0%,0%,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
월,0%,0%,17%,72%,100%,53%,12%,3%,2%,2%,...,9%,10%,10%,8%,4%,0%,0%,0%,0%,0%
화,0%,0%,12%,57%,86%,58%,20%,9%,6%,0%,...,13%,14%,12%,9%,4%,0%,0%,0%,0%,0%
수,0%,0%,8%,48%,83%,56%,16%,3%,2%,2%,...,9%,11%,10%,7%,3%,0%,0%,0%,0%,0%
목,0%,0%,18%,61%,82%,51%,16%,5%,4%,4%,...,15%,17%,16%,12%,6%,0%,0%,0%,0%,0%
금,0%,0%,24%,69%,83%,47%,13%,2%,1%,1%,...,7%,10%,11%,10%,6%,2%,0%,0%,0%,0%
토,0%,0%,3%,9%,10%,7%,4%,1%,0%,0%,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%

In [46]:
colum_list = ["역명","호선","구","동","주소"] + time_lists
colum_list

['역명',
 '호선',
 '구',
 '동',
 '주소',
 '일 오전4시',
 '일 오전5시',
 '일 오전6시',
 '일 오전7시',
 '일 오전8시',
 '일 오전9시',
 '일 오전10시',
 '일 오전11시',
 '일 오후12시',
 '일 오후1시',
 '일 오후2시',
 '일 오후3시',
 '일 오후4시',
 '일 오후5시',
 '일 오후6시',
 '일 오후7시',
 '일 오후8시',
 '일 오후9시',
 '일 오후10시',
 '일 오후11시',
 '일 오전12시',
 '일 오전1시',
 '일 오전2시',
 '일 오전3시',
 '월 오전4시',
 '월 오전5시',
 '월 오전6시',
 '월 오전7시',
 '월 오전8시',
 '월 오전9시',
 '월 오전10시',
 '월 오전11시',
 '월 오후12시',
 '월 오후1시',
 '월 오후2시',
 '월 오후3시',
 '월 오후4시',
 '월 오후5시',
 '월 오후6시',
 '월 오후7시',
 '월 오후8시',
 '월 오후9시',
 '월 오후10시',
 '월 오후11시',
 '월 오전12시',
 '월 오전1시',
 '월 오전2시',
 '월 오전3시',
 '화 오전4시',
 '화 오전5시',
 '화 오전6시',
 '화 오전7시',
 '화 오전8시',
 '화 오전9시',
 '화 오전10시',
 '화 오전11시',
 '화 오후12시',
 '화 오후1시',
 '화 오후2시',
 '화 오후3시',
 '화 오후4시',
 '화 오후5시',
 '화 오후6시',
 '화 오후7시',
 '화 오후8시',
 '화 오후9시',
 '화 오후10시',
 '화 오후11시',
 '화 오전12시',
 '화 오전1시',
 '화 오전2시',
 '화 오전3시',
 '수 오전4시',
 '수 오전5시',
 '수 오전6시',
 '수 오전7시',
 '수 오전8시',
 '수 오전9시',
 '수 오전10시',
 '수 오전11시',
 '수 오후12시',
 '수 오후1시',
 '수 오후2시',
 '수 오후3시',
 '수 오후4시',
 '수 오후5시',
 '수 오후6시',
 '수 오후7시',
 '수 오후8시',
 '수 오후9시',
 '수 오후10시',
 '수 오후11시',
 '수 오전12시',
 '수 오전1시',
 '수 오전2시',
 '수 오전3시',
 '목 오전4시',
 '목 오전5시',
 '목 오전6시',
 '목 오전7시',
 '목 오전8시',
 '목 오전9시',
 '목 오전10시',
 '목 오전11시',
 '목 오후12시',
 '목 오후1시',
 '목 오후2시',
 '목 오후3시',
 '목 오후4시',
 '목 오후5시',
 '목 오후6시',
 '목 오후7시',
 '목 오후8시',
 '목 오후9시',
 '목 오후10시',
 '목 오후11시',
 '목 오전12시',
 '목 오전1시',
 '목 오전2시',
 '목 오전3시',
 '금 오전4시',
 '금 오전5시',
 '금 오전6시',
 '금 오전7시',
 '금 오전8시',
 '금 오전9시',
 '금 오전10시',
 '금 오전11시',
 '금 오후12시',
 '금 오후1시',
 '금 오후2시',
 '금 오후3시',
 '금 오후4시',
 '금 오후5시',
 '금 오후6시',
 '금 오후7시',
 '금 오후8시',
 '금 오후9시',
 '금 오후10시',
 '금 오후11시',
 '금 오전12시',
 '금 오전1시',
 '금 오전2시',
 '금 오전3시',
 '토 오전4시',
 '토 오전5시',
 '토 오전6시',
 '토 오전7시',
 '토 오전8시',
 '토 오전9시',
 '토 오전10시',
 '토 오전11시',
 '토 오후12시',
 '토 오후1시',
 '토 오후2시',
 '토 오후3시',
 '토 오후4시',
 '토 오후5시',
 '토 오후6시',
 '토 오후7시',
 '토 오후8시',
 '토 오후9시',
 '토 오후10시',
 '토 오후11시',
 '토 오전12시',
 '토 오전1시',
 '토 오전2시',
 '토 오전3시']

In [183]:
data_table = pd.read_csv("./1호선 지하철정리.csv")
data_table = data_table.drop("Unnamed: 0", axis=1)

In [184]:
test1.to_csv("./가천대역_혼잡도(토요일 데이터 없음).csv",in)

In [185]:
station_name = "가천대"

In [186]:
test1 = test1.drop(["Unnamed: 0","Unnamed: 0.1"], axis=1)
test1.to_csv("")
test1.index = day_list

In [187]:
lat_long = pd.read_excel("./지하철노선위경도정보.xlsx")
lat_long_data = lat_long[lat_long["역이름"]==f"{station_name}역"]
lat_long_data

      역이름  역지역  Unnamed: 2  Unnamed: 3   호선
297  가천대역  수도권   37.448555  127.126687  분당선

In [188]:
hosun = "분당선"

In [189]:
# lat_long = pd.read_excel("./지하철노선위경도정보.xlsx")
# lat_long_data = lat_long[lat_long["역이름"]==f"{station_name}역"]
lat_long_data = lat_long_data[lat_long_data["호선"]==hosun]
lat, long =list(lat_long_data["Unnamed: 2"])[0], list(lat_long_data["Unnamed: 3"])[0]
lat,long

(37.4485553966264, 127.126686575598)

In [190]:
juso = pd.read_csv("./서울교통공사_역주소 및 전화번호_20220314.csv",encoding="cp949")
juso_lists = juso[juso["역명"]==station_name]
doromyeong = list(juso_lists["도로명주소"])[0]
gu, dong , address = doromyeong.split()[1], doromyeong.split("(")[1][:-1], doromyeong.split('(')[0]
gu, dong, address

IndexError: list index out of range

In [17]:
data_table.loc[len(data_table)] = append_dfs(test1,station_name,gu,dong,hosun,address,lat,long)

In [28]:
data_table.loc[len(data_table)] = append_dfs(test1,station_name,"서초구","양재동",hosun,'서울특별시 서초구 매헌로 지하 116',lat,long)

In [29]:
data_table

,역명,호선,구,동,주소,일 오전4시,일 오전5시,일 오전6시,일 오전7시,일 오전8시,...,토 오후8시,토 오후9시,토 오후10시,토 오후11시,토 오전12시,토 오전1시,토 오전2시,토 오전3시,위도,경도
0,광운대,노원구,월계동,1호선,서울특별시 노원구 석계로 98-2,0%,0%,0%,0%,0%,...,39%,21%,2%,0%,0%,0%,0%,0%,0.000000,0.000000
1,가산디지털단지,금천구,가산동,1호선,서울특별시 금천구 벚꽃로 309,0%,0%,0%,0%,0%,...,39%,21%,2%,0%,0%,0%,0%,0%,0.000000,0.000000
2,개봉,구로구,개봉동,1호선,서울특별시 구로구 경인로40길 47,0%,0%,0%,0%,0%,...,39%,21%,2%,0%,0%,0%,0%,0%,0.000000,0.000000
3,구로,구로구,구로동,1호선,서울특별시 구로구 구로중앙로 174,0%,0%,0%,0%,16%,...,77%,57%,32%,6%,0%,0%,0%,0%,0.000000,0.000000
4,구일,구로구,구로동,1호선,서울특별시 구로구 구일로 133,0%,0%,0%,0%,2%,...,19%,11%,3%,0%,0%,0%,0%,0%,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,왕십리,성동구,행당동,분당선,서울특별시 성동구 왕십리광장로 17,0%,0%,1%,5%,11%,...,53%,44%,29%,12%,0%,0%,0%,0%,37.561261,127.037078
327,청량리,동대문구,전농동,분당선,서울특별시 동대문구 왕산로 214,0%,1%,6%,12%,19%,...,28%,19%,11%,5%,1%,0%,0%,0%,37.580719,127.048500
328,한티,강남구,대치동,분당선,서울특별시 강남구 선릉로 지하 228,0%,0%,0%,0%,1%,...,26%,38%,32%,7%,0%,0%,0%,0%,37.496275,127.052901
329,강남,강남구,역삼동,신분당선,서울특별시 강남구 강남대로 지하396,0%,0%,0%,3%,7%,...,43%,50%,38%,12%,0%,0%,0%,0%,37.498085,127.027978
330,양재시민의숲,서초구,양재동,신분당선,서울특별시 서초구 매헌로 지하 116,0%,0%,0%,0%,0%,...,1%,0%,0%,0%,0%,0%,0%,0%,37.470115,127.038458

In [30]:
data_table.to_csv("1호선 지하철정리.csv")

In [16]:
def append_dfs(datas,name,hosun,gu,dong,juso,lat,long) : 
    confusion_datas = []
    confusion_datas.extend([name,hosun,gu,dong,juso])
    
    for day in day_list :
        for time in time_list : 
            confusion_datas.append(datas[time][day])
            
    confusion_datas = confusion_datas + [lat,long]
        
    return confusion_datas